*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace,'Times New Roman', Times, serif;
}
.container{
    width:100;
    height: 100vh;
    background-color: #f1420845;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background:#3a4452;
    padding:20px;
    border-radius:10px;
}
h1{
    text-align: center;
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times;
}
.calculator form input{
    border:0;
    outline:0;
    width:60px;
    height:60px;
    border-radius:10px;
    box-shadow: -8px -8px 15px rgba(255, 255,255,0.1),-5px -5px 15px rgba(0,0,0,0.2);
    background-color: transparent;
    font-size: 20px;
    color: white;
    margin:10px;
}
form.display{
    display: flex;
    margin:20px 0;
    align-items: flex-end;
}
form .dsiplay input{
    text-align: right;
    flex:1;
    font-size:45px;
    box-shadow: none;
}
form input.equal{
    width:145px;
}
